<!DOCTYPE html>
<html lang="en">
<head>
   <title>Document</title>
</head>
<body>
      
      <h1>hello this is website</h1>
      <div>
      <label for="fname">your url:</label>
      <input type="text" name="qrurl"  id="qrurl"><br><br>
      <button type="submit" onclick="fetchURL(); return false";  > Generateqr </button>
      </div>
    <img src="" alt="" id="qrimg">

    <div>
      <input type="text" id="fname" name="fname"><br><br>
      <button type="submit" >Submit-to-email</button>
    </div> 
     
</body>
<script>
    async function fetchURL(){
       const qrurl = document.getElementById("qrurl").value;
       await Generateqr(qrurl)
   }

   async function Generateqr(qrurl){
    try{
        
    }catch(e){
        next(e)
    }

   }
</script>

</html>